<div class="row">
	<div class="col s12 m10 l9">
		<div class="card" id="item_post_card">
			<div class="card-move-up">
				<div class="row">
					<div class="col s2 m2 l2 center teal">
						<div class="card-image">
							<img src="/media/two1.png" height="160px" >
							<a href="/post_comment" class="center white-text">Details</a>
						</div>
					</div>
					<div  class="col s10 m10 l10">
						<div class="section" id="item_post_name">
							<h5>Habitation Name</h5>
						</div>
						<div class="divider"></div>
						<div>
							<h6>Village Name | Panchayat Name | Block Name | City Name | State Name</h6>
						</div>
						<div class="row center" id="element_row">
							<div class="col s2 m2 l2 center element_row" >
								<img src="/media/iron.png" height="50px"><br>
								<h7>Threat Level 1.2 </h7>
							</div>
							<div class="col s2 m2 l2 center">
								<img src="/media/iron.png" height="50px"><br>
								<h7>Threat Level 1.2 </h7>
							</div>
							<div class="col s2 m2 l2 center">
								<img src="/media/iron.png" height="50px"><br>
								<h7>Threat Level 1.2 </h7>
							</div>
							<div class="col s2 m2 l2 center">
								<img src="/media/iron.png" height="50px"><br>
								<h7>Threat Level 1.2 </h7>
							</div>
							<div class="col s2 m2 l2 center">
								<img src="/media/iron.png" height="50px"><br>
								<h7>Threat Level 1.2 </h7>
							</div>							
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>
</div>