<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WSSO</title>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

		<link type="text/css" rel="stylesheet" href="/static/materialize/css/custom.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {

			setTimeout(function(){
			$('body').addClass('loaded');
			}, 1000);

			$('.modal').modal();

			$(".button-collapse").sideNav();
			});

		</script>
		<style>
			#map {
			height: 600px;
			width: 99%;
			top: 5px;
			margin: 5px;
			}
		</style>
	</head>

	<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>        
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->

	<!-- START HEADER  -->
	{%include "elements/header.html"%}
	<!-- END HEADER -->

	<!-- START MAIN -->
	{%include "elements/sidebar.html"%}
	<div id="map" style="width: 100%"></div>
	<script>
		function initMap() {		
			var marker_arr;
			// console.log(marker_arr.latitude);

			var lat_center,long_center,i;
			lat_center=long_center=0;
			var content=[];
			{%for list in data %}
				lat_center = lat_center + {{list.latitude}};
				long_center = long_center+ {{list.longitude}};
				content[{{forloop.counter}}]= {%include "elements/marker.html"%};
				i={{forloop.counter}};
			{% endfor %}
			lat_center=lat_center/i;
			long_center=long_center/i;
			console.log(lat_center,long_center,i);

			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 9,
				center: {lat: lat_center, lng: long_center},
			});

			// var contentString = {%include "elements/marker.html"%};
			var marker=[] ;
			var infowindow = new google.maps.InfoWindow();

			{%for item in data %}
				var contentString = content[{{forloop.counter}}];
				console.log({{ item.latitude }},{{ item.longitude }});
				infowindow.close();

				marker = new google.maps.Marker({
					position: { lat : {{ item.latitude }} , lng : {{ item.longitude }} },
					map: map,
					title:''
				});
				map.setCenter(marker.getPosition())
				google.maps.event.addListener(marker,'click', 
					(function(marker,contentString,infowindow){ 
					return function() {
					infowindow.setContent(contentString);
					infowindow.open(map,marker);
					};
				})(marker,contentString,infowindow)); 
			{% endfor %}
		}
	</script>

	<!--Import jQuery before materialize.js-->
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiDPRoTGjbRV5j32_Gay-DpmecHMHOtlQ &callback=initMap">
	</script>

	</body>
</html>
