<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WSSO</title>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>

		<link type="text/css" rel="stylesheet" href="/static/materialize/css/custom.css"  media="screen,projection"/>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {

			setTimeout(function(){
			$('body').addClass('loaded');
			}, 1000);

			$('.modal').modal();

			$(".button-collapse").sideNav();
			});

		</script>
		<style>
			#map {
			height: 600px;
			width: 99%;
			top: 5px;
			margin: 5px;
			}
		</style>
	</head>

	<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>        
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->

	<!-- START HEADER  -->
	{%include "elements/header.html"%}
	<!-- END HEADER -->

	<!-- START MAIN -->
	<div id="map" style="width: 100%"></div>
	<script>
		function initMap() {
			var m1 = {lat: 21.2514, lng: 81.6296};
			var m2 = {lat: 23.259933, lng: 77.412613};
			var m3 = {lat: 21.1458, lng: 79.0882};
			var m4 = {lat: 21.1938, lng: 81.3509};
			var m5 = {lat: 34.083656, lng: 74.797371};

			var marker_arr=[
				{lat: 21.1081243, lng: 81.9507538},
				{lat: 21.0257166, lng: 81.8360977},
				{lat: 21.2277586, lng: 81.91528439999999},
				{lat: 21.0257166, lng: 81.8360977},
				{lat: 21.1448138, lng: 81.9814833},
				{lat: 21.236382, lng: 81.647196},
				{lat: 21.1567393, lng: 81.91528439999999},
				{lat: 20.7394234, lng: 81.8497567},
				{lat: 21.4077001, lng: 81.99574779999999},
				{lat: 21.426837, lng: 82.0713561},
				{lat: 21.426837, lng: 82.0713561},
				{lat: 21.3084948, lng: 81.6270471},
				{lat: 21.1448138, lng: 81.9814833},
				{lat: 21.0193598, lng: 81.70484189999999},
				{lat: 21.3425744, lng: 82.1523251},
				{lat: 21.1449288, lng: 81.7322061},
				{lat: 21.1448138, lng: 81.9814833},
				{lat: 21.5061112, lng: 81.7376778},
			];
			var lat_center,long_center;
			lat_center=long_center=0;
			for (i in marker_arr) {
				lat_center=lat_center + marker_arr[i].lat;
				long_center=long_center + marker_arr[i].lng;
			}

			lat_center=lat_center/marker_arr.length;
			long_center=long_center/marker_arr.length;
			
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 10,
				center: {lat: lat_center, lng: long_center},
			});

			var contentString = {%include "elements/marker.html"%};

			var marker=[] ;
			
			var infowindow = new google.maps.InfoWindow();

			for (var i = 0; i < marker_arr.length; i++) {
				infowindow.close();
				marker = new google.maps.Marker({
					position: marker_arr[i],
					map: map,
					title:''
				});
				map.setCenter(marker.getPosition())

				google.maps.event.addListener(marker,'click', 
					(function(marker,contentString,infowindow){ 
					return function() {
					infowindow.setContent(contentString);
					infowindow.open(map,marker);
					};
				})(marker,contentString,infowindow)); 
			}
		}
	</script>
	<!--Import jQuery before materialize.js-->
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiDPRoTGjbRV5j32_Gay-DpmecHMHOtlQ &callback=initMap">
	</script>

	</body>



</html>
