<!-- START HEADER  -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav >
            <div class="nav-wrapper cyan">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>                     
                <a href="#" class="brand-logo darken-1"> WSSO</a> 

                <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li><a href="/home" class="nav-headers">Home</a></li>
                    <li><a href="/map" class="nav-headers">Maps</a></li>
                    <li><a href="#" class="nav-headers">Remedy</a></li>
                    <li><a href="#" class="nav-headers">Hazards</a></li>
                    <li><a href="#" class="nav-headers">Contact</a></li>

                </ul>           
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
