'<div class="row">'
	+'<div class="col s12 m12 l12">'
		+'<div class="card purple lighten-5" >'
			+'<div class="row" >'
				+'<div  class="col s12 m12 l12">'
					+'<div class="section" id="item_marker">'
						+'<h7>Habitation Name | Village Name |<br>Panchayat Name | Block Name |<br>City Name | State Name</h7>'
					+'</div>'
					+'<div class="divider"></div>'
					+'<div class=" marker" >'
						+'<div class="row">'
							+'<div class="col s4 m4 l4">'
								+'<h7>Iron</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4">'
								+'<h7>1.5/1</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4 ">'
								+'<div id="circle"></div>'					
							+'</div>'
						+'</div>'
					+'</div>'
					+'<div class=" marker" >'
						+'<div class="row">'
							+'<div class="col s4 m4 l4">'
							+	'<h7>Arsenic</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4">'
							+	'<h7>1.5/1</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4 ">'
								+'<div id="circle"></div>'					
							+'</div>'
						+'</div>'
					+'</div>'
					+'<div class=" marker" >'
						+'<div class="row">'
							+'<div class="col s4 m4 l4">'
								+'<h7>Fluoride</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4">'
								+'<h7>1.5/1</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4 ">'
								+'<div id="circle"></div>'					
							+'</div>'
						+'</div>'
					+'</div>'
					+'<div class=" marker" >'
						+'<div class="row">'
							+'<div class="col s4 m4 l4">'
								+'<h7>Nitrate</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4">'
								+'<h7>1.5/1</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4 ">'
								+'<div id="circle"></div>'					
							+'</div>'
						+'</div>'
					+'</div>'
					+'<div class=" marker" >'
						+'<div class="row">'
							+'<div class="col s4 m4 l4">'
								+'<h7>Salinity</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4">'
								+'<h7>1.5/1</h7>'						
							+'</div>'
							+'<div class="col s4 m4 l4 ">'
								+'<div id="circle"></div>'					
							+'</div>'
						+'</div>'
					+'</div>'
					+'<div class=" marker" >'
						+'<div class="row center">'
							+'<div class="col s12 m12 l12">'
								+'<a href="#">View Graph</a>'						
							+'</div>'
						+'</div>'
					+'</div>'
				+'</div>'
			+'</div>'	
		+'</div>'
	+'</div>'
+'</div>'