'<div class="row">'
	+'<div class="col s12 m12 l12">'
		+'<div class="card purple lighten-5" >'
			+'<div class="row" >'
				+'<div  class="col s12 m12 l12">'
					+'<div class="section" id="item_marker">'
						+'<h7>{{list.address}}</h7>'
					+'</div>'
					+'<div class="divider"></div>'
					+'{% for item in list.elements %}'					
						+'<div class=" marker" >'
							+'<div class="row">'
								+'<div class="col s4 m4 l4">'
									+'<h7>{{item.name}}</h7>'						
								+'</div>'
								+'<div class="col s4 m4 l4">'
									+'<h7>{{item.count}}/{{item.limit}}</h7>'						
								+'</div>'
								+'{% if item.alert_level is "0" %}'
									+'<div class="col s4 m4 l4 ">'
										+'<div id="circle0"></div>'					
									+'</div>'
								+'{% elif item.alert_level is "1"%}'
									+'<div class="col s4 m4 l4 ">'
										+'<div id="circle1"></div>'					
									+'</div>'
								+'{% else %}'
									+'<div class="col s4 m4 l4 ">'
										+'<div id="circle2"></div>'					
									+'</div>'
								+'{% endif %}'
							+'</div>'
						+'</div>'
					+'{% endfor %}'
					+'<div class=" marker" >'
						+'<div class="row center">'
							+'<div class="col s12 m12 l12">'
								+'<a href="#">View Graph</a>'						
							+'</div>'
						+'</div>'
					+'</div>'
				+'</div>'
			+'</div>'	
		+'</div>'
	+'</div>'
+'</div>'