<aside id="left-sidebar-nav">
	<ul id="slide-out" class="side-nav leftside-navigation">
		<li><div class="user-view">
			<div class="background">
				<!-- <img src="images/office.jpg"> -->
			</div>
			<!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
			<a href="#!name"><span class="white-text name">WSSO</span></a>
			<!-- <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
			</div>
		</li>
		<li><a href="/home" class="waves-effect">Home</a></li>
		<li><a href="/map" class="waves-effect">Maps</a></li>
		<li><a href="#" class="waves-effect">Remedy</a></li>
		<li><a href="#" class="waves-effect">Hazards</a></li>
		<li><a href="#" class="waves-effect">Contact</a></li>

	</ul>
</aside>